*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
img{
    width: 140;
    height: 140px;
    margin-top: 30px;

}
.control-buttons {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2; 
    background-color: rgba(220, 233, 239, 0.9);;
}
.control-buttons span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #F44336;
    color: #fff;
    padding: 15px 25px;
    font-size: 30px;
    text-align: center;
    border-radius: 50px;
    cursor: pointer;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.info-container {
    width: 1080px;
    margin: 20px auto 0;
    background-color: #f6f6f6;
    padding: 20px;
    font-size: 25px;
    overflow: hidden;
    border: 2px solid #bbbd40;

}
.info-container .name {
    float: left;
    width: 50%;
}
.info-container .tries {
    float: right;
    width: 50%;
    text-align: right;
}
.memory-game-blocks {
    display: flex;
    flex-wrap: wrap;
    margin: 25px auto;
    width: 1100px;
}
.memory-game-blocks.no-clicking {
    pointer-events: none;
}
.memory-game-blocks .game-block {
    height: 200px;
    transition: transform .5s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    flex: 1 0 200px;
    margin: 0 10px 20px;
    -webkit-transition: transform .5s;
    -moz-transition: transform .5s;
    -ms-transition: transform .5s;
    -o-transition: transform .5s;
}
.memory-game-blocks .game-block .front::before {
    content: '?';
    color: #fff;
    font-size: 150px;
    font-weight: bold;
}
.memory-game-blocks .game-block .front {
    background-color: #333;
    line-height: 200px;
}
.memory-game-blocks .game-block .back {
    background-color: #607D8B;
    transform: rotateY(180deg);
}

.memory-game-blocks .game-block .back img {
    width: 140px;
    height: 140px;
    margin-top: 30px;
}
.memory-game-blocks .game-block .face {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    border: 5px solid #2196F3;
    backface-visibility: hidden;
}
.memory-game-blocks .game-block.is-flipped,
.memory-game-blocks .game-block.has-match {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    pointer-events: none ;
}
